/* Definición de variables para facilitar la personalización */
:root {
    --primary-color: #fff;
    --secondary-color: #ccc;
    --highlight-color: #00bcd4;
    --background-color: #f1fdff;

    --font-size-large: 3em;
    --font-size-medium: 2.5em;
    --font-size-small: 18px;
    --dark-background-color: #333;
    --dark-text-color: #fff;
}

/* General Styles */
body, .nivel1 {
    padding: 0;
    margin: 0;
    min-height: 100vh; 
    background-image: url(../Imagenes/fondos/fondo_nivel_1.png);
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-x: hidden; /* Previene el scroll horizontal */
    position: relative;
    background-color: var(--primary-color);
}

/* Overlay effect */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    z-index: 1;
}

/* General element style */
* {
    position: relative; /* Asegura que los elementos estén sobre el overlay */
    z-index: 2;
}

/* Content container */
.content {
    display: flex; /* Organiza el contenido en fila */
}

/* Header styles */
.encabezadoN2 {
    color: var(--primary-color);
    font-style: italic;
}
.encabezadoN2 h1 {
    font-size: var(--font-size-large);
    font-weight: bolder;
}

/* Icon styles */
.config, .casa {
    font-size: var(--font-size-medium);
    color: var(--primary-color);
}

.config:focus, .casa:focus {
    outline: 2px solid var(--highlight-color);
}

/* Image container */
.images {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se acomoden en varias filas */
    justify-content: space-around; /* Espacia uniformemente las imágenes */
    margin: 20px;
    gap: 50px;
}

/* Individual image box */
.image-box {
    border: 2px solid var(--secondary-color);
    padding: 10px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 150px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* CAJON DE PALABRAS container */
.word-box {
    border: 2px solid var(--secondary-color);
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 29px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    float: none;
}


.word-box:hover {
    transform: translateY(-5px); /* Eleva la caja al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Word box header */
.word-box h3 {
    margin: 0 0 15px 0;
    font-size: var(--font-size-small);
    text-align: center; /* Centra el título */
    color: var(--highlight-color); /* Color destacado */
    font-weight: bold;
}

/* Draggable list styles */
#draggable-list {
    list-style: none;
    padding: 0;
    width: 200px;
}






#draggable-list li {
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #cbe8fb;
    color: rgb(0, 0, 0);
    border-radius: 8px; /* Bordes más redondeados */
    cursor: grab;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
}

#draggable-list li.dragging {
    opacity: 0.5;
    transform: scale(1.05); /* Agranda el elemento arrastrado */
}

#draggable-list li.over {
    background-color: #ff2200; /* Resalta cuando está sobre otra lista */
}

/* Drop zone for images */
.drop-zone {
    width: 100%;
    height: 40px;
    border: 2px dashed var(--secondary-color);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    transition: background-color 0.3s ease;

}

.drop-zone.hovered {
    background-color: #a9e4ec; /* Cambio de color al estar sobre la zona */
    border-color: var(--highlight-color); /* Cambio de color del borde */
}




/* Invisible elements */
.invisible {
    display: none; /* Oculta elementos invisibles */
}



/* Responsive Design */
@media (max-width: 768px) {
    .images {
        flex-direction: column;
        align-items: center;
    }

    .image-box {
        width: 80%;
        margin-bottom: 20px;
    }

    .encabezadoN2 h1 {
        font-size: 2em;
    }

    .config, .casa {
        font-size: 2em;
    }
}


#verifyButton {
    padding: 0.875rem 2.9375rem;
    align-items: flex-start;
    gap: 0.5rem;
    border: none;

    border-radius: 1rem;
    background: #42C62F;
    box-shadow: 0px 4px 0px 0px #489D26;


    color: #FEFFFE;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 120% */
    letter-spacing: 0.05rem;
    text-transform: uppercase;

    margin-right: auto;
}


#nextLevelButton {
    padding: 0.875rem 2.9375rem;
    align-items: flex-start;
    gap: 0.5rem;
    border: none;

border-radius: 1rem;
background: #30A3C7;
box-shadow: 0px 4px 0px 0px #008CB7;


color: #FEFFFE;
text-align: center;
font-family: "Inter", sans-serif;
font-optical-sizing: auto;

font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: 1.125rem; /* 120% */
letter-spacing: 0.05rem;
text-transform: uppercase;

margin-right: auto;
}
.fixed-bar {


    text-align: center;
    padding: 1.67131rem 8rem ;
    display: flex;
    /* background-color: #3074C7;  */


    width: 100vw; /* Abarca todo el ancho de la pantalla */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    margin-left: calc(-50vw + 50%); /* Centra la barra y la hace abarcar toda la pantalla */
    position: relative; /* Permite que el margen negativo funcione correctamente */
    /* border-top: 5px solid #0066E4; Agrega un borde superior de 2px de color blanco */

    /* background-color: #ffffff; */


}